{% extends "base.html" %}

{% block head %}
<title>Erik Göransson-Gaspar</title>
{% endblock %}

{% block main %}
<p>
Hej! I'm a Swedish master's student of <strong>mathematical statistics at Lund University</strong>. My interests center on <strong>latent process-models</strong> and <strong>Monte Carlo methods</strong>, primarily as applied to <strong>financial statistics</strong>. But I get around. On this page I write about my recent projects, with less-than-publishable rigor.
</p>

<article class="article_card">
  <a href="/mastermind"><h3>Optimal Mastermind</h3></a>
  <p>
  Remember the game Mastermind, where you have to guess a secret color combination? I explain how we can use information theory to play it optimally. Play around with the interactive game!
  </p>
</article>

<article class="article_card">
  <a href="/bachelors-thesis"><h3>Forecasting Crop Yields</h3></a>
  <p>
  Regularized regression techniques allows us to improve the crop yields models of the Swedish Department of Agriculture by up to 40 %! By modeling multiple regions simultaneously, we can get even better results. This was my bachelor's thesis, written in Swedish with a summary in English.
  </p>
</article>
{% endblock %}
